
Laba3/Laba3.xcodeproj/project.pbxproj
Laba3/Laba3.xcodeproj/xcuserdata/pasha.xcuserdatad/xcschemes/xcschememanagement.plist
Laba3/Laba3.xcodeproj/project.xcworkspace/xcuserdata/pasha.xcuserdatad/UserInterfaceState.xcuserstate
Laba3/Laba3.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Laba3/Laba3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
